html {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    width: auto;
}

.container {
    height: 100%;
    width: auto;
}

div.columns {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 10px;
    clear: left;

}

.rows {
    display: block;
    width: auto;
    height: 10px;
    background-color: white;
}

.hover {
    background-color: grey;
}

.border {
    border: solid black 1px;
}

#btn {
    position: relative;
    justify-self: center;
    align-self: center;
}

body .btn_container {
    width: 100%;
    /* justify-self: center; */
    /* align-self: center; */
}